<header>
<img 
    src="assets/img/luana.png"
    alt="Luana Thurow - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Luana Thurow</h1>
</header>

<aside>
    <div class="container">
        <p>I am a Software Engineering and have been working in the Information Technology field since 2018. I currently hold the position of Software Engineer, with a primary focus on back-end development.</p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/luana-thurow.pdf" target="_blank" class="btn btn-primary">
                        Download
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/luana-thurow-b0a04a176/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

       <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" 
                alt="Ícone para contato via WhatsApp"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="https://wa.me/5551980380304?text=Ol%C3%A1%2C%20gostaria%20de%20falar%20com%20a%20Luana!"
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: 51 9 80380304</p>
                </a>
                </figcaption>
        </figure>

        <figure>
            <img src="assets/icons/mail.svg" 
                alt="Ícone para contato via E-mail"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="mailto:luanathurow16@gmail.com"
                    target="_blank">
                    <strong>Envie um e-mail:</strong>
                    <p>luanathurow16&#64;gmail.com</p>
                </a>
                </figcaption>
        </figure>
       </section> 
    </div>
</aside>